@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
}

.progress {
  height: 100px;
  background: none;
}

.completed {
  margin-top: 10%;
  margin-left: -50%;
}

.btn {
  border: none;
}

.category {
  font-family: 'Montserrat', sans-serif;
  color: #121212;
  font-size: 1rem;
  opacity: 0.5;
  font-weight: 700;
}

.title {
  font-family: 'Roboto slab', sans-serif;
  font-weight: 700;
  color: #121212;
}

.author {
  font-family: 'Roboto slab', sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: #4386bf;
}

.list {
  display: flex;
  align-items: center;
  margin-top: 1.313rem;
}

.list button {
  font-family: 'Roboto slab', sans-serif;
  color: #4386bf;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  align-items: center;
}

.percentage,
.completed {
  font-family: 'Montserrat', sans-serif;
  color: #121212;
  font-size: 2rem;
}

.current-chapter,
.chapter {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  color: #121212;
}

.current-chapter {
  opacity: 0.5;
  font-size: 1rem;
}

.chapter {
  font-size: 1rem;
}

.update {
  cursor: pointer;
  border: none;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 300;
  color: #fff;
}
