@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  background-color: #f5f6fa;
}

.form-container {
  margin: 3%;
}

.form-container h3 {
  padding-top: 2%;
  padding-bottom: 2%;
}

.form {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.25fr;
  grid-gap: 2%;
}

.input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  color: #121212;
  font-family: 'Montserrat', sans-serif;
}

.form-header {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #888;
  font-size: 2rem;
}

.add-book {
  cursor: pointer;
  padding: 12px;
  border-radius: 3px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-family: 'Roboto slab', sans-serif;
}
